@media only screen and (max-width: 767px) {

  .grid-container-1 {
    grid-row-gap: 20px;
  }

  .grid1-hed {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .grid1-video {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .grid1-text {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}