
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

body {
  width: 960px;
  margin: 0 auto;
}
h1 {
  color: green;
  font-family:'Anton', sans-serif;
  background-color: orange;
  border: 3px solid yellow;

}

h2 {
  color: #1e90ff;
  text-decoration: underline;
  font-style: italic;
}

.escuela {
  color: orange;
}

.subtitulos {
  font-family: 'Lacquer', sans-serif;

}
.imagen {
  height: 250px;
  margin: 0 auto;
  display: block;
}

.ex {
  color: pink
}

a {
  color: yellow;text-decoration: none;
  padding: 1px;
}
a:hover {
  background-color: green;
}

.mm {
  color: purple;
}
